@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-poppins: 'Poppins', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background {
  background-color: #E4E4E7;
  height: 100vh;
  width: 100vw;
}